// Add ol styles
ol {
  counter-reset: item;

  > li {
    display: flex;
    gap: $au-unit-small;
    flex-wrap: nowrap;
    padding-inline-start: $au-unit-tiny;
    list-style-type: none;
    counter-increment: item;
  }

  > li + li {
    margin-top: $au-unit-small;
  }

  > li::before {
    display: block;
    font-weight: var(--au-medium);
    content: counter(item) ".";
    text-align: right;
    width: $au-unit;
    flex-shrink: 0;
  }
}

// Some cursor override?
cursor {
  cursor: pointer;
}

// Extend region class
.au-o-region-huge {
  padding-top: $au-unit;
  padding-bottom: $au-unit;

  @include mq($au-region-breakpoint) {
    padding-top: $au-unit-huge;
    padding-bottom: $au-unit-huge;
  }
}

// Daterangepicker tweaks
.daterangepicker .ranges li.active {
  background-color: var(--au-blue-700);
  color: #fff;
}

.daterangepicker {
  font: var(--au-font);
}
  
.daterangepicker td.active,
.daterangepicker td.start-date.end-date {
  background-color: var(--au-blue-700) !important;
  border-radius: 0;

  &:hover {
    background-color: var(--au-blue-900);
  }
}

.daterangepicker td.in-range {
  background-color: var(--au-blue-200);
}

// Sticky utility
.u-top-sticky {
  @include mq(small) {
    top: $au-unit;
    position: sticky;
  }
}

// Header link
.u-header-link {
  text-decoration: none;
  font-weight: var(--au-medium);
}

// Yellow top border
.u-color-top-border {
  border-top: solid .5rem var(--au-yellow-300);
}

.u-gray-top-border {
  border-top: 1px solid var(--au-gray-200);
}

// Card fill override
.au-c-card--fill {
  height: initial !important;
}

// Accordion override
.c-accordion-holder {
  display: flex;

  > .au-c-accordion {
    margin-top: .6rem;
    width: 100%;
    padding-bottom: 0;
  }

  > .au-c-accordion > .au-c-content {
    margin-left: calc(7.2rem * -1);
    border-top: .1rem solid var(--au-gray-200);
    margin-top: $au-unit;
    padding-top: 0;
  }

  &:first-of-type {
    padding-top: $au-unit-small;
    border-top: .1rem solid var(--au-gray-200);
  }

  & + & {
    margin-top: $au-unit-small;
    padding-top: $au-unit-small;
    border-top: .1rem solid var(--au-gray-200);
  }
}


.c-accordion-holder--top {
  > .au-c-accordion .au-c-toolbar {
    align-items: flex-start;
  }

  > .au-c-accordion .au-c-icon {
    margin-top: .85rem !important;
  }

  > .au-c-accordion > .au-c-content {
    margin-left: 0;
  }
}

.au-c-accordion {
  .au-c-toolbar {
    align-items: center;
  }

  .au-c-icon {
    margin-top: 0 !important;
  }

  .au-c-button--link {
    text-decoration: none;
    font-weight: var(--au-medium);
    @include au-font-size(var(--au-h4));
  }
}

// Truncate
.u-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50ch;
}

// Custom form row
.au-c-form-row--button {
  --gap: #{$au-unit-small};
  --button: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);

  & > .au-c-input-wrapper {
    flex-basis: 100%;
  }

  & > .au-c-button {
    flex-basis: var(--button);
  }

  @include mq(small) {
    --button: 100px;

    & > .au-c-input-wrapper {
      flex-basis: calc(100% - var(--gap) - var(--button));
    }
  }
}

// Vote table colors
.c-vote-table-proponent {
  color: var(--au-green-700);
}

.c-vote-table-opponent {
  color: var(--au-red-600);
}

.c-vote-table-abstention {
  color: var(--au-gray-800);
}

// Add auto scroll behaviour
.u-overflow-y-scroll {
  overflow-y: scroll;
  height: 100%; 
}