@import "ember-appuniversum/a-settings";
@import "ember-appuniversum/a-tools";
@import "ember-appuniversum/a-generic";
@import "ember-appuniversum/a-elements";
@import "ember-appuniversum/a-objects";
@import "ember-appuniversum/a-components";
@import "ember-appuniversum/a-plugins";
@import "ember-appuniversum/a-utilities";

html {
  font-size: 50%;
}
// body {
//   font-size: 1.6rem;
// }

#map-cursor {
  height: 100%;
  width: 100%;
}

.card-hover:hover {
  // border-top: solid 5px #ffe615;
  box-shadow: 0 -5px 0 #ffe615;
  transition: all 10ms;
  cursor: pointer;
}
@import "ember-appuniversum/p-ember-power-select";
// @import "ember-power-select";
