<section
  {{did-insert this.setupInViewport}}
  class="au-o-flow au-u-flex au-u-flex--column"
>
  {{#each @model as |item|}}
    <DecisionCard
      @startDate={{item.session.startedAt}}
      @endDate={{item.session.endedAt}}
      @item={{item}}
    />
  {{/each}}
</section>
{{#if @model}}
  <AuLoader
    style="height: 40px; display: flex; justify-content: center; align-items: center; margin-bottom: 30px;"
    id="loader"
  />
{{/if}}
