<main class="au-u-flex--center au-u-flex--vertical-center au-u-flex--row au-u-flex--spaced-large au-u-flex--column">
  <AuLoader />
  <AuContent>
    <h3>Agendapunten aan het laden</h3>
  </AuContent>
</main>
