<AuMainHeader
  @brandLink={{"https://www.vlaanderen.be/nl"}}
  @homeRoute="home"
  @appTitle="Bobcat"
>
  {{!-- TODO: provide a valid help link --}}
  {{!-- <li class="au-c-list-horizontal__item">
    <AuLinkExternal
      href="#!"
      @skin="secondary"
      @icon="question-circle"
    >
      Help
    </AuLinkExternal>
  </li> --}}
</AuMainHeader>
