<div class="component-content-header">

  <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is linked data">
    <img
      sizes="50vw"
      src={{"/assets/loket-header-1600.jpg"}}
      alt="Foto van een laptop met daarop het vlaanderen logo."
    />
  </AuContentHeader>

</div>
