<aside class="au-c-sidebar au-o-layout--large" style="width: 30%;">
  <div class="au-c-sidebar__content au-u-padding">
    <AuContent @skin="tiny">
      <h3>Verfijn de zoekresultaten</h3>
      <section>
        {{yield}}
      </section>
    </AuContent>
  </div>
</aside>

