<aside class="{{ @class }}">
  <h3 class="au-u-h4 au-u-medium au-u-margin-bottom-small">Verfijn de zoekresultaten</h3>
  <section class="au-o-flow au-o-flow--small">
    {{yield}}
  </section>
</aside>
