<div
  class="overflow-y-scroll au-u-flex au-u-flex--column au-u-padding-left-large au-u-padding-right-large"
  {{on "scroll" this.scroll}}
>
  <section class="au-u-flex au-u-flex--column">
    {{yield}}
  </section>
  <div class="au-u-flex au-u-flex--center au-u-padding">
    {{#if @isLoading}}
      <AuLoader />
    {{else}}
      {{#if @moreData}}
        <AuButton {{action "loadMore"}}>Laad meer</AuButton>
      {{/if}}
    {{/if}}
  </div>
</div>
