<div
  style="width: 100%; height: 8rem; display: flex; justify-content: center; align-items: center;"
  class="au-o-region-small au-u-background-gray-100 au-u-margin-top-small au-u-padding au-c-card au-c-card--fill au-c-card--padding-small au-o-region-large card-hover"
>
  <p class="au-u-padding-top">John Doe</p>
</div>
