<div
  style="width: 25rem; height: 25rem; display: flex; justify-content: center; align-items: center;"
  class="au-o-region-small au-u-margin-top-small au-u-padding au-c-card au-c-card--fill au-c-card--padding-small au-o-region-large card-hover"
>
  <AuIcon style="width: 60px; height: 60px;" @icon="user-fill" />
  <p class="au-u-padding-top">John Doe</p>
</div>
