<div
  class="card-hover component-participant-card au-u-1-1 au-u-flex au-u-flex--center au-u-flex--vertical-center au-o-region-small au-u-margin-top-small au-u-padding au-c-card au-c-card--fill au-c-card--padding-small au-o-region-large"
>
  <p class="au-u-padding-top">{{@person.voornaam.value}}
    {{@person.achternaam.value}}</p>
</div>
