<p>Stemming</p>
<AuIcon class="au-u-margin-right-small" @size="large" @icon="calendar" />
<p>Openbare stemming</p>

<AuTable>
  <:header>
    <tr>
      <th>Stemmen</th>
      <th>Aantal</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>Voorstaanders</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Tegenhouders</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Onthouders</td>
      <td>0</td>
    </tr>
  </:body>

</AuTable>

<AuTable>
  <:header>
    <tr>
      <th>Voorstaanders</th>
      <th>Tegenhouders</th>
      <th>Onthouders</th>
    </tr>
  </:header>
  <:body>
    <tr>
      <td>Jan Peeters</td>
      <td>Joske Vermeuelen</td>
      <td>Jan Peeters</td>
    </tr>
    <tr>
      <td>Jan Peeters</td>
      <td>Jan Peeters</td>
      <td>Joske Vermeuelen</td>
    </tr>
  </:body>

</AuTable>
