<article id="summary">
  <p>Voor het ingevulde scenario geldt:</p>
  <br />
  <p>Je hebt de volgende
    <span class="au-u-medium">bewijsstukken</span>
    nodig:</p>
  <ul>
    <li>Een goedkeurig van de
      <AuLinkExternal
        href="https://lokaalbeslist.vlaanderen.be"
      >gemeente</AuLinkExternal></li>
    <li>[lorem ipsum]</li>
  </ul>
  <br />
  <p>De kostprijs is <span class="au-u-medium">0 EUR</span>.</p>
  <br />
  <p>Deze informatie komt uit:</p>
  <ul>
    <li><AuLinkExternal href="https://lokaalbeslist.vlaanderen.be">Besluit van
        de gemeente</AuLinkExternal></li>
    <li>[lorem ipsum]</li>
  </ul>

  <AuButton
    class="au-u-margin-top"
    @skin="link"
    @icon="chevron-left"
    @iconAlignment="left"
    {{on "click" @resetForm}}
  >
    Zoek opnieuw
  </AuButton>
</article>