.feedback-widget {
  // override the external link styles
  display: inline-block !important;
  color: var(--au-white) !important;
  position: fixed;
  width: 5rem;
  height: 15rem;
  bottom: 50%;
  right: 0;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  padding: 1rem;
  transform: rotate(-180deg);
  border-radius: 0 5px 5px 0;
  z-index: 9999;

  @include au-font-size(var(--au-h4));
}
