<section
  class="au-u-flex au-u-flex--column au-u-flex--center au-u-flex--vertical-center au-u-background-gray-100 au-u-padding-left au-u-padding-right"
>
  <article
    class="au-u-background-gray-100 au-u-padding-top-large au-u-padding-bottom-large au-u-max-width-medium au-o-flow"
  >
    <AuHeading>
      Rijden in een autoluwe zone
    </AuHeading>
    <p class="au-u-para-lead">
      Gebruik deze tool om de nodige bewijstukken en kostprijzen te vinden
      afhankelijk van jouw situatie. Deze tool gebruikt informatie uit
      <AuLinkExternal>gelinkte lokale besluiten</AuLinkExternal>
      om een antwoord te geven.
    </p>
  </article>
</section>