<AuModalContainer />
<AuBodyContainer>
  <div class="c-interface">
    <div
      id="filtercontent"
      class="c-interface__content c-interface__content--fixed au-u-flex au-u-flex--column"
    >
      <FilterContent
        @keyword={{this.keyword}}
        @showFilter={{this.showFilter}}
      />
      <InfiniteListAgendaItemWrapper />
    </div>
    <FilterSidebarWrapper
      @hasFilter={{this.hasFilter}}
      @hideFilter={{this.hideFilter}}
    />
  </div>
</AuBodyContainer>