#route-detail {
  overflow-y: scroll;
  
  #detail-right-section {
    > div {
      position: sticky;
      top: 0;
    }
  }

  .detail-card {
    border-top:solid 5px #FFE615;

    .header {
      text-decoration: none;
    }
  }
}

