#route-municipality {
    height: 100%;  // This hasn't been able to be removed 

    #agenda-items {
        overflow-y: scroll;
    }

    .municipality-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}