#route-municipality {
    height: 100%;
    width: 97%;
    margin: auto;


    #agenda-items {
        height: 100%;
        overflow-y: scroll;
    }

    .municipality-title {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}