#agenda-items {
    height: 100%;

    #results {
        width: 100%;
        height: 100%;


        > div {
            height: 90%; 
            scroll-behavior: smooth;
        }

        .content {
            height: 100%;

            display: flex; 
            justify-content: center;
            align-items: center;

            &.error {
                width: 100%;
                gap: 8rem;

                p {
                    margin: 2rem 0;
                }
            }

            &.no-error {
                flex-direction: column; 

                .no-results {
                    position: sticky;
                    top: 0;
                }
            }
        }

        

        
    }
}