#home {
    display: flex;
    justify-content: center;
    align-items: center;

    #municipality-section {
        width: 100%;

        #municipality {
            width: 80%;
        }
    }

    #save-locations {
        width: 20%;
        min-width: fit-content;
    }
    
}

