{{page-title "BurgerBesluitenDB"}}

<AuApp>
  <Navbar />
  <Hero />
  <AuMainContainer tyle="height: 100%;" as |m|>

    <m.content>

      <div class="au-u-flex" style="height: 100%;">
        {{outlet}}
      </div>

    </m.content>
  </AuMainContainer>
  <Footer />
</AuApp>
