{{page-title "BurgerBesluitenDB"}}

<AuApp style="height: 100vh;">
  <Navbar />

  <AuMainContainer tyle="height: 100%;" as |m|>

    <m.content>

      <div class="au-u-flex au-u-flex--column" style="height: 100%;">
        {{outlet}}
      </div>

    </m.content>
  </AuMainContainer>
  <Footer />
</AuApp>
