{{page-title "Meer info"}}

<LayoutDetail
  class="au-c-main-container__content au-c-main-container__content--scroll"
  id="content"
>
  <section class="au-o-region">
    <div class="au-o-layout au-o-layout--small">
      <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">Meer info</AuHeading>
      <AuHeading @level="2" @skin="2" class="au-u-margin-bottom">Veelgestelde
        vragen</AuHeading>

      <div class="au-o-flow au-u-margin-bottom-large">
        <FaqCard
          @heading="Hoe vind je een agendapunt? "
          @subheading="Je weet op welke datum het agendapunt behandeld werd of wordt? •
          Gebruik ‘Selecteer een periode’ om de juiste vergadering te vinden. •
          Selecteer de juiste datum of periode met de knop ‘eigen periode
          kiezen’ of gebruik het drop- downmenu om in een voorgestelde periode
          te zoeken. Je weet niet op welke datum het agendapunt behandeld werd
          of wordt? • Klik op ‘Bekijk agendapunten’ en geef een zoekterm in bij
          ‘Wat zoek je?'. • Filter eventueel op gemeente (bij ‘Kies één of meer
          gemeentes’), om de zoekopdrachten te verfijnen en de resultaten te
          beperken."
        />

        <FaqCard
          @heading="Hoe werkt de zoekfunctie?"
          @subheading="Hanteer meerdere regels om jouw zoekresultaat te verfijnen. • Gebruik een plusteken als je wil dat jouw zoekresultaat beide
          woorden bevat, bijvoorbeeld ‘regen + zonneschijn’ • Gebruik een
          sluisteken (verticaal streepje) als je wil dat jouw zoekresultaat
          minstens 1 van de woorden bevat, bijvoorbeeld ‘regen | zonneschijn’ •
          Gebruik dubbele aanhalingstekens om te zoeken op een specifieke zin,
          bijvoorbeeld “regen en zonneschijn”"
        />

        <FaqCard
          @heading="De data zijn soms onvolledig. Hoe komt dat?"
          @subheading="De applicatie verzamelt de gegevens volgens het principe van gelinkte
          open data. Sinds 30 juni 2021 publiceren zo goed als alle lokale
          besturen in Vlaanderen specifieke agendapunten, besluitenlijsten en
          notulen volgens eenzelfde digitale standaard. Mensen en (zoek)machines
          kunnen zo de beschikbare informatie gemakkelijk vinden en
          hergebruiken. De applicatie haalt de beschikbare gegevens op. Dat kan
          leiden tot onvolledige informatie in de applicatie als er fouten
          optreden tijdens het gelinkt publiceren van deze gegevens."
        />

        <FaqCard
          @heading="Wil je een klacht indienen tegen een beslissing?"
          @subheading="Op de webpagina Klachtenprocedure | Vlaanderen.be vind je hoe je een klacht correct indient. Kijk
zeker na of je klacht ontvankelijk is want voor bepaalde beslissingen gelden specifieke
toezichtprocedures."
        />
        <FaqCard
          @heading="Wil je een voorstel doen of vraag stellen aan een gemeentebestuur. Hoe doe ik dat?"
          @subheading="Alle informatie over participatie vind je onder de rubriek ‘Burgerparticipatie’ op de webpagina
Verkiezingen, democratie en participatie | Vlaanderen.be"
        />
      </div>

      <div class="au-o-region">
        <AuHeading @level="4" @skin="4" class="au-u-margin-bottom">
          Heb je een andere vraag?
          <br />
          Contacteer ons per e-mail op

          <AuLinkExternal
            href="mailto:LoketLokaalBestuur@vlaanderen.be"
          >LoketLokaalBestuur@vlaanderen.be</AuLinkExternal>
        </AuHeading>

      </div>
    </div>
  </section>
</LayoutDetail>
