{{page-title "Help"}}

<div class="au-u-flex au-u-padding-huge au-u-flex--center">
  <AuContent class="au-u-1-2 au-u-flex-self-center">
    <h1>Over BNB
    </h1>
    <p>https://burgernabije-besluitendatabank-dev.s.redhost.be/ is de officiële
      website ...</p>
  </AuContent>
</div>
