{{page-title "Meer info"}}

<LayoutDetail
  class="au-c-main-container__content au-c-main-container__content--scroll"
  id="content"
>
  <section class="au-o-region">
    <div class="au-o-layout au-o-layout--small">
      <AuHeading @level="1" @skin="1" class="au-u-margin-bottom">Meer info</AuHeading>
      <AuHeading @level="2" @skin="2" class="au-u-margin-bottom">Veelgestelde
        vragen</AuHeading>

      <div class="au-o-flow au-u-margin-bottom-large">
        <FaqCard
          @heading="Hoe vind je een agendapunt?"
          @subheading="Je weet op welke datum de beslissing werd genomen of genomen zal worden?
Gebruik ‘Selecteer een periode’ om de juiste vergadering te vinden. Je via een “eigen periode kiezen” de juiste datum of periode selecteren of gebruikmaken van het drop down menu om in een voorgestelde periode te zoeken.

Je weet niet op welke datum de beslissing werd genomen of genomen zal worden?
Geef een zoekterm in bij ‘Wat zoek je?” en filter eventueel op gemeente (bij “Kies één of meer gemeentes”, om de zoekopdrachten te verfijnen en de resultaten te beperken.
"
        />

        <FaqCard
          @heading="Hoe werkt de zoekfunctie?"
          @subheading="Bij het zoeken in dossiers kan je meerdere regels hanteren die jouw zoekresultaat kunnen finetunen:
•	Gebruik een + als je wenst dat jouw zoekresultaat beide woorden bevat bv. regen + zonneschijn
•	Gebruik een | als je wenst dat jouw zoekresultaat minstens 1 van de woorden bevat bv. regen | zonneschijn

•	Door het gebruik van '' zorg je ervoor dat er gezocht wordt op een specifieke zin bv.'regen en zonneschijn'
"
        />

        <FaqCard
          @heading="De data is soms onvolledig, hoe komt dat?"
          @subheading="Sinds 30 juni 2021 zijn lokale besturen in Vlaanderen wettelijk verplicht om specifieke agendabesluiten, besluitenlijsten en notulen gelinkt te publiceren. Zo wordt deze informatie voor iedereen toegankelijk en bewerkbaar. Eventuele fouten die lokale besturen maken bij het gelinkt publiceren kunnen bijgevolg zorgen voor onvolledige informatie op deze databank."
        />

        <FaqCard
          @heading="Ben je het niet eens met een beslissing?"
          @subheading="Dan kan je een klacht indienen bij het Agentschap Binnenlands Bestuur van de Vlaamse Overheid. Voor meer informatie zie Klachtenprocedure | Vlaanderen.be"
        />
        <FaqCard
          @heading="Ik wil een voorstel doen of vraag stellen aan het gemeentebestuur, hoe doe ik dat?"
          @subheading="Alle informatie over participatie is te vinden onder de rubriek “Burgerparticipatie” op volgende link: Verkiezingen, democratie en participatie | Vlaanderen.be"
        />
      </div>

      <div class="au-o-region">
        <AuHeading @level="2" @skin="2" class="au-u-margin-bottom">
          Geen antwoord op uw vraag?
          <br />
          Neem contact met ons op!
        </AuHeading>

        <p>
          <AuLinkExternal
            href="mailto:LoketLokaalBestuur@vlaanderen.be"
          >LoketLokaalBestuur@vlaanderen.be</AuLinkExternal></p>
      </div>
    </div>
  </section>
</LayoutDetail>
