<main>
    <style>
        main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            font-size: x-large;
        }
    </style>
    <h1>Loading...</h1>
</main>