<LayoutList>
  <AuBodyContainer>
    <FilterSidebar />
    <div id="tooltip"><AuLoader /></div>
    {{! template-lint-disable no-invalid-interactive }}
    <div class="bp-map au-u-padding-huge" {{did-insert this.initMap}} />
  </AuBodyContainer>
</LayoutList>